#form
  = form_tag do
    = render 'field', key: :uid,  label_text: 'User:'
    = render 'field', key: :pub0, label_text: 'Pub0:'
    = render 'field', key: :page, label_text: 'Page:'

    = submit_tag 'Show'
